version: '3'
services:
  postgres:
    image: postgres:10
    container_name: ambitine_db
    environment:
      - POSTGRES_USER=${DB_LOGIN}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "54321:5432"

  gorush:
    container_name: gorush
    build: ./gorush/
    ports:
      - "8088:8088"

  ambitine:
    container_name: ambitine
    build: .
    ports:
      - "9090:9090"
    environment:
      P_HOST: postgres
      P_LOGIN: "${DB_LOGIN}"
      P_PASSWORD: "${DB_PASS}"
      P_DB: "${DB_NAME}"
      P_PORT: "${DB_PORT}"
      INFURA_KEY: "${INFURA_KEY}"
      #STATE: "debug"
      STATE: "prod"
    depends_on:
        - postgres
        